body {
    font-family: 'Roboto';
    background-color: #f5f5f5;
    margin: 0;
    text-align: center;
}

.header h1 {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 48px;
    margin-top: 20px;
    color: #333;
}

.about img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
}